<!DOCTYPE html>
<html lang="en-us">
   <head>
      <meta charset="utf-8">
      <title>MEMEOKE</title>
      <link rel="stylesheet" href="http://people.ischool.berkeley.edu/~ssnipes/files/bootstrap.css" type="text/css">
      <link rel="stylesheet" href="http://people.ischool.berkeley.edu/~ssnipes/files/default.css" type="text/css">
      <link rel="stylesheet" href="http://people.ischool.berkeley.edu/~ssnipes/files/fonts.css" type="text/css">
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://connect.soundcloud.com/sdk.js"></script>
   </head>
   <body>
      <div id="test-gif-home">
         <div class="container-fluid">
            <div class="landing-page">
            <h1>It's Memeoke Time</h1>
            <a href="demo.html" class="btn btn-home btn-large btn-default">Watch our Synced Lyrics Demo</a>
            <a href="artists.html" class="btn btn-home btn-large btn-success">Get Started with Memeoke</a>
            </div>
         </div>
        </div>
      </div><!-- // landing-page-bg -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!--    <script src="static/js/bootstrap.min.js"></script>-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <!--	<script src="static/js/ie10-viewport-bug-workaround.js"></script>-->
   </body>
</html>
