<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>MEMEOKE</title>
	<link rel="stylesheet" href="static/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="static/css/default.css">
	<link rel="stylesheet" href="static/css/fonts.css">
</head>
<body>
		<div class="container-fluid">
			<div class="row meme-header">
				<div class="col-md-12">
					<h1 class="home-header">It's Memeoke Time!</h1>
					<div id="test"></div>
				</div>
			</div>
		</div>

		<div class="container content">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">

					<div class>
						<p class="lead text-center">
							<strong>Please input a URL that you would like to shorten.</strong>
							<br> Feel free to include your preferred shortened link.</p>
					</div>

					<div class="well well-sm">
						<form class="form-horizontal" action="http://127.0.0.1:5000/server/shorts" method="post">
						<br/><br/>

						<!-- long URL input-->
						<div class="form-group">
							<label class="col-md-2 control-label" for="longURL">Long URL</label>
							<div class="col-md-10">
								<input id="longURL" name="longURL" type="text" placeholder="Long URL" class="form-control" onfocusout="validateURL()">
							</div>
						</div>

						<!-- short URL input -->
						<div class="form-group">
							<label class="col-md-2 control-label" for="shortURL">Short URL</label>
							<div class="col-md-10">
								<input id="shortURL" name="shortURL" type="text" placeholder="Short URL" class="form-control">
							</div>
						</div>

						<!-- Form submit -->
						<div class="form-group">
						<div class="col-md-12 text-center">
						<button type="submit" id="submit" class="btn btn-primary btn-lg">Shorten My URL!</button>
						</div>
						</div>
						</fieldset>
						</form>
					</div>

				</div>
			</div>
		</div><!-- /.container -->
	<!-- <div id="test"></div> --><!-- /#test -->

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/custom.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
