<!DOCTYPE html>
<html>
  	<head>
     <link rel="stylesheet" href="http://people.ischool.berkeley.edu/~ssnipes/files/bootstrap.css" type="text/css">
     <link rel="stylesheet" href="http://people.ischool.berkeley.edu/~ssnipes/files/default.css" type="text/css">
     <link rel="stylesheet" href="http://people.ischool.berkeley.edu/~ssnipes/files/fonts.css" type="text/css">
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <script src="http://connect.soundcloud.com/sdk.js"></script>
  	</head>
  	<body>
      <div id="main" style="min-height: 100%;">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12 meme-header" style="min-height: 100%;">
                  
                  <div class="share-text text-center">
                     <h1 class="text-center"><strong> {{prefix}} </strong></h1>
                     {% for url in urllist %}
                        <h3><a href="{{ url }}"> {{url}} </a></h3>
                     {% endfor %} 

                     <a href="/artists.html" class="btn btn-success btn-lg btn-another" role="button">Create Another MEMEOKE!</a>
                  </div>
                  
                  <div id="test-gif" alt="rotating gif" class="main-gif"></div>
                  
                  <div id="output-credit">
                     <h4 class="text-center">Brought to you by <strong>MEMEOKE</strong></h4>
                  </div>
                  
               </div>
            </div>
         </div><!-- /.container -->
      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--    <script src="../server/static/js/ie10-viewport-bug-workaround.js"></script>-->
   </body>
</html>
