<!DOCTYPE html>
<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://connect.soundcloud.com/sdk.js"></script>
	</head>
	<body width="100%" height="100%">
		<img src="" alt="rotating gif" width="600" height="500" id="main_gif"> 
		<br><br><br>
		<div width="600px" height="600px" id="dataDiv">
			<div id="artists">
				{% for artist in artists %}
					<div class="text-center">
						<h3><a href="tracks.html/{{ artist.artist.artist_id }}/{{artist.artist.artist_name}}"> {{artist.artist.artist_name}} </a></h3>
					</div>
				{% endfor %}
			</div>
			<div id="songs">
				{% for track in tracks %}
					<div class="text-center">
						<h3><a href="/track.html/{{ track.track.track_id }}/{{artist_name}}/{{track.track.track_name}}/{{track.track.track_soundcloud_id}}"> {{track.track.track_name}} </a></h3>
					</div>
				{% endfor %}
			</div>
			<div id="lyrics">
				{% for lyric in lyrics %}
					<p> {{lyric}} </p>
				{% endfor %}
			</div>
			<div id="share">
				<h3><a href="/share.html/{{track_id}}/{{artist_name}}/{{track_name}}/{{soundcloud_id}}" id="share"><img src="http://www.simplesharebuttons.com/images/somacro/email.png"></a></h3>
			</div>

			
			<!-- Artist: <select id="artists" onchange="song_search()"> </select> <br><br>
			Songs: <select id="songs"> </select> -->
		</div>
			<br><br>
			<!-- <input type="submit" value="Submit" onclick="get_gifs(); play_song();"> -->
		<!-- <iframe src="https://embed.spotify.com/?uri=spotify:track:4th1RQAelzqgY7wL53UGQt" width="300" height="380" frameborder="0" allowtransparency="true"></iframe> -->
	</body>
	<script type="text/javascript">

		function get_gifs(){
			var artist_gifs = {{gifs|safe}};
			console.log(artist_gifs.length)
			if($(artist_gifs).length != 0){
				var gif = document.getElementById('main_gif');
				console.log('loop?')
				var num = 0;
				var changeGif = function() {
					console.log(artist_gifs[num])
		    		gif.src = artist_gifs[num++];
		    		if (num == $(artist_gifs).length) 
		        		num = 0;
		        }    			
	    		setInterval(changeGif, 5000);			
			}
		}

		

		function play_sound(){
			var track_id = {{soundcloud_id}};
			console.log(track_id)

			if(track_id != '0'){
			console.log("#######")
			var common = "/tracks/";
			var track=common.concat(track_id);
			console.log(track)

			SC.initialize({
  			client_id: 'ad364b8f0c461ec82043576b89440ab3'
			});

			// stream track id 293
			SC.stream(track, function(sound){
  			sound.play();
			});
		}
	}

		function disable(){
			console.log("111111111")
			var track_id={{track_id}};
			if(track_id != '0'){
			console.log("2222222222")
    			$('#share').show();
    		}
    		else{
    			console.log("3333333333")
    			$('#share').hide();

    		}
		}

		function show_data(){
			get_gifs();
			play_sound();
			disable();
		}
		$(document).ready(show_data);
	</script>
</html>
